.iconlylightsearch {
    position: relative;
    width: 24.29px;
    height: 24.75px;
    flex-shrink: 0;
  }
  .searchItemHere {
    position: relative;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .frameWrapper,
  .iconlylightsearchParent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .iconlylightsearchParent {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    justify-content: flex-end;
    gap: var(--gap-3xs);
  }
  .frameWrapper {
    border-radius: var(--br-sm);
    background-color: var(--black-21);
    width: 627px;
    height: 40px;
    flex-shrink: 0;
    padding: var(--padding-2xs) var(--padding-lg) var(--padding-2xs)
      var(--padding-sm);
    box-sizing: border-box;
    justify-content: flex-start;
  }
  .menu1 {
    position: absolute;
    width: 112.5%;
    top: 0;
    left: 0;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .menu {
    position: relative;
    width: 59px;
    height: 21px;
    flex-shrink: 0;
  }
  .menu3 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .menu2,
  .menu4 {
    position: relative;
    width: 76px;
    height: 21px;
    flex-shrink: 0;
  }
  .menu4 {
    width: 68px;
  }
  .button,
  .button2,
  .menuParent {
    display: flex;
    flex-direction: row;
  }
  .menuParent {
    width: 253px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
    font-size: var(--paragraph-1-semibold1-size);
    color: var(--gray-31);
  }
  .button,
  .button2 {
    position: absolute;
    top: 0;
    border-radius: var(--br-sm);
    height: 40px;
    padding: var(--padding-xs) var(--padding-2xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .button {
    left: 0;
    background: linear-gradient(
      101.12deg,
      #eb1484,
      #c91cc3 99.99%,
      #c81cc5,
      #c81cc5
    );
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .button2 {
    left: 119px;
    width: 146px;
    color: var(--red-violet1);
  }
  .buttonParent {
    position: relative;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 265px;
    height: 40px;
    flex-shrink: 0;
    font-size: var(--nft-name1-size);
  }
  .frameParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
  }
  .navbarChild {
    position: relative;
    width: 1437px;
    height: 1px;
    flex-shrink: 0;
  }
  .button4,
  .navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    top: 40px;
    left: 1px;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .button4 {
    top: 1276px;
    left: 880px;
    border-radius: var(--br-sm);
    background: linear-gradient(
      101.12deg,
      #eb1484,
      #c91cc3 99.99%,
      #c81cc5,
      #c81cc5
    );
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    height: 45px;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-2xl);
    box-sizing: border-box;
    font-size: var(--nft-name1-size);
  }
  .createNewItem,
  .uploadFile {
    font-weight: 600;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .createNewItem {
    position: absolute;
    top: 145px;
    left: 415px;
    font-size: var(--heading-11-size);
  }
  .uploadFile {
    position: relative;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--black-1);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    border: 1px dashed var(--white1);
    box-sizing: border-box;
    width: 610px;
    height: 329px;
  }
  .iconlyboldimage {
    position: absolute;
    top: 96px;
    left: 236px;
    width: 137px;
    height: 137px;
  }
  .dragAndDrop,
  .jpgPngGif {
    position: absolute;
    top: 47px;
    left: 59px;
    font-weight: 600;
  }
  .dragAndDrop {
    top: 252px;
    left: 240px;
    font-size: var(--nft-name1-size);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .groupItem {
    position: absolute;
    top: 277px;
    left: 191px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangleParent,
  .uploadFileParent {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .rectangleParent {
    position: relative;
    width: 610px;
    height: 329px;
    flex-shrink: 0;
    font-size: var(--heading-31-size);
  }
  .uploadFileParent {
    gap: var(--gap-sm);
  }
  .nameWrapper,
  .uploadFileParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .itemName {
    position: relative;
    line-height: 26px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .decriptionOfYour,
  .itemNameWrapper {
    font-size: var(--paragraph-1-semibold1-size);
  }
  .itemNameWrapper {
    border-radius: var(--br-sm);
    background-color: var(--black-1);
    width: 610px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-md) var(--padding-xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .decriptionOfYour {
    border: 0;
    font-family: var(--paragraph-3-regular1);
    background-color: transparent;
    position: relative;
    line-height: 26px;
    color: var(--white1);
    text-align: left;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .decriptionOfYourItemWrapper,
  .groupInner {
    border-radius: var(--br-sm);
    background-color: var(--black-1);
    width: 610px;
  }
  .decriptionOfYourItemWrapper {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    height: 161px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-md) var(--padding-xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .groupInner {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
  }
  .iconlytwoTonearrowDown2 {
    position: relative;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
  .ethParent {
    position: absolute;
    top: 18px;
    left: 517px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .enterPrice {
    position: absolute;
    top: 17px;
    left: 26px;
    line-height: 26px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .rectangleGroup {
    position: relative;
    width: 610px;
    height: 60px;
    flex-shrink: 0;
    font-size: var(--paragraph-1-semibold1-size);
  }
  .frameGroup,
  .rectangleDiv {
    position: absolute;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .frameGroup {
    top: 227px;
    left: 415px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 55px;
    font-size: var(--heading-2-size);
  }
  .rectangleDiv {
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--black-21);
    width: 283px;
    height: 40px;
  }
  .yourEmail {
    position: absolute;
    top: 13px;
    left: 18px;
    line-height: 105.7%;
    font-weight: 500;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .button6 {
    position: absolute;
    top: 0;
    left: 239px;
    border-radius: var(--br-sm);
    background: linear-gradient(
      101.12deg,
      #eb1484,
      #c91cc3 99.99%,
      #c81cc5,
      #c81cc5
    );
    width: 118px;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-2xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .button6,
  .col1,
  .rectangleContainer {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .rectangleContainer {
    position: relative;
    width: 357px;
    height: 40px;
    flex-shrink: 0;
    font-size: var(--nft-name1-size);
  }
  .col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
    font-size: var(--paragraph-1-semibold1-size);
  }
  .brandGlobal,
  .explore {
    position: relative;
    display: inline-block;
    width: 160px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .brandGlobal {
    font-weight: 600;
  }
  .explore {
    line-height: 26px;
  }
  .listItems {
    overflow: hidden;
    flex-direction: column;
    gap: var(--gap-2xs);
    font-size: var(--paragraph-1-semibold1-size);
  }
  .col1Parent,
  .col2,
  .listItems {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .col2 {
    overflow: hidden;
    flex-direction: column;
    gap: var(--gap-md);
  }
  .col1Parent {
    flex-direction: row;
    gap: var(--gap-3xl);
  }
  .theBrandGlobal {
    position: relative;
    font-weight: 600;
  }
  .frameChild {
    position: relative;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
  .footer,
  .groupParent,
  .theBrandGlobalIncAllRigParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .groupParent {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    gap: var(--gap-sm);
  }
  .footer,
  .theBrandGlobalIncAllRigParent {
    gap: var(--gap-4xl);
    font-size: var(--paragraph-1-semibold1-size);
  }
  .footer {
    position: absolute;
    top: 1397px;
    left: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2xl);
    font-size: var(--heading-31-size);
  }
  .image1Icon {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 86px;
    height: 88px;
    object-fit: cover;
  }
  .createItem {
    position: relative;
    background-color: var(--black-4);
    width: 100%;
    height: 1747px;
    overflow: hidden;
    text-align: left;
    font-size: var(--paragraph-3-regular1-size);
    color: var(--white1);
    font-family: var(--paragraph-3-regular1);
  }