@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.homee {
  position: relative;
  background-color: var(--black-4);
/* background-color: red; */
  width: 100%;
  height: 1860px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-1-semibold-size);
  color: var(--white1);
  font-family: var(--paragraph-3-semibold);
}
.navbarParent {
  position: absolute;
  top: 48px;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
  /* background-color: red; */
}
.navbarr {
  width: 1200px;
  justify-content: space-between;
  /* background-color: blue; */
 
}
.frameParent {
  width: 1353.96px;
  flex-shrink: 0;
  margin-left: -86px;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameWrapper {
  border-radius: var(--br-sm);
  background-color: var(--black-2);
  width: 299px;
  margin-left:50px;
  height: 40px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-xs)
    var(--padding-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameChild,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameChild {
  border: 0;
  font-family: var(--paragraph-3-semibold);
  font-size: var(--paragraph-3-semibold-size);
  background-color: transparent;
  justify-content: flex-end;
}
.menuParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.menu,
.menu3 {
  text-decoration: none;
  color: inherit;
}
.menu {
  position: relative;
  width: 59px;
  height: 21px;
  flex-shrink: 0;
}